{% extends "_layout_proveedores.html" %}
{% load static %}
{% block Title %} Mi Cuenta {% endblock Title %}

{% block content %}

<div class="container-fluid m-0" style="background-color: #ffffff">
    <div class="row d-flex justify-content-center">

        <!-- Panel izquierdo: Información del perfil -->
        <div class="wrapper bg-white mt-sm-3 m-3 shadow col-lg-6 col-md-12 col-sm-12 col-xs-12 c1 bg-white rounded h-60">
            <h4 class="pb-4 border-bottom">Configuración De Cuenta</h4>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex align-items-start py-3 border-bottom">
                    <img src="{% if registro.foto %}{{ registro.foto.url }}{% else %}https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg{% endif %}"
                         class="img" alt="Foto de perfil" width="120" height="120" style="object-fit: cover; border-radius: 50%;">
                    <div class="ps-5" id="img-section">
                        <b>{{ request.user.username }}</b>
                        <p>Foto de perfil</p>
                        {{ form.foto }}
                    </div>
                </div>

                <div class="py-2">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="razon_social">Nombre Empresa</label>
                            {{ form.razon_social }}
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="documento">NIT</label>
                            {{ form.documento }}
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="email">Correo</label>
                            {{ form.email }}
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="telefono">Teléfono</label>
                            {{ form.telefono }}
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-12">
                            <label for="direccion">Dirección</label>
                            {{ form.direccion }}
                        </div>
                    </div>

                    <div class="py-3 pb-4 border-bottom">
                        <button type="submit" class="btn btn-success">Guardar cambios</button>
                        <a href="{% url 'users:profile' %}" class="btn btn-outline-dark">Cancelar</a>
                    </div>

                    <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                        <div>
                            <b>Eliminar cuenta</b>
                            <p>Su cuenta será eliminada después de 30 días</p>
                        </div>
                        <div class="ps-2 ml-auto">
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Panel derecho: documentos (estructura estática por ahora) -->
        <div class="wrapper bg-white mt-sm-3 shadow c2 m-3 col-lg-5 col-md-12 col-sm-12 col-xs-12 bg-white rounded h-60">
            <h4 class="pb-4 border-bottom">Documentos</h4>

            <div class="d-flex align-items-start py-3 border-bottom">
                <div class="col-md-12 col-lg-12 col-xs-12 mb-sm-0">
                    <div class="card h-75 mb-0 mt-0 justify-content-center d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 p-2 c1 pt-3">
                                    <p class="card-title">x documento</p>
                                </div>
                                <div class="col-4 p-2 c2 pt-3">
                                    <h6 style="color: green;">Aceptado </h6>
                                </div>
                                <a href="#" class="col-2 m-2 p-2 btn c3 d-flex justify-content-center">
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-start py-3 border-bottom">
                <div class="col-md-12 col-lg-12 col-xs-12 mb-sm-0">
                    <div class="card h-75 mb-0 mt-0 justify-content-center d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 p-2 c1 pt-3">
                                    <p class="card-title">x documento</p>
                                </div>
                                <div class="col-4 p-2 c2 pt-3">
                                    <h6 style="color: orangered;">pendiente</h6>
                                </div>
                                <a href="#" class="col-2 m-2 p-2 btn c3 d-flex justify-content-center">
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-start py-3 border-bottom">
                <div class="col-md-12 col-lg-12 col-xs-12 mb-sm-0">
                    <div class="card h-75 mb-0 mt-0 justify-content-center d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 p-2 c1 pt-3">
                                    <p class="card-title">x documento</p>
                                </div>
                                <div class="col-4 p-2 c2 pt-3">
                                    <h6 style="color: red;">Rechazado </h6>
                                </div>
                                <a href="#" class="col-2 m-2 p-2 btn c3 d-flex justify-content-center">
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-sm-flex justify-content-center align-items-center pt-3" id="deactivate">
                <div class="ps-2 ml-auto">
                    <a href="{% url 'proveedor:doc' %}" class="btn btn-dark">Ver más</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
