<!doctype html>
<html lang="es">

<head>
  <title>{% block Title %}Logística{% endblock Title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="icon" href="{% static 'img/logos_final/icono.ico' %}" />
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css">
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet">
  <link href="{% static 'css/layout.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
  {% block css %}{% endblock css %}
</head>

<body id="body-pd">
  {% block sesion %}
  <header class="header" id="header">
    <div class="header_toggle m-1"> <i class="fa-solid fa-bars" id="header-toggle"></i> </div>
    <div class="d-flex text-center dropdown">
      <a class="pt-2 pe-4 link-dark" role="button">
        <span>{{ user.username }}</span>
        <i class='bx bx-chevron-down py-2 pt-2'></i>
      </a>
      <ul class="dropdown-menu menu_bar">
        <li>
          <a role="button" href="{% url 'logistica:perfil' %}" class="dropdown-item">Mi cuenta </a>
        </li>
        <li>
          <a role="button" href="{% url 'users:logout' %}" class="dropdown-item">Cerrar Sesión</a>
        </li>
      </ul>
      <div class="header_img">
        <img src="{% static 'img/logos_final/logistica.png' %}" alt="">
      </div>
    </div>
  </header>
  {% endblock sesion %}

  <div class="l-navbar" id="nav-bar">
    <nav class="nav_bar">
      <div>
        <a href="{% url 'logistica:dashboard' %}" class="nav_logo">
          <img src="{% static 'img/logos_final/11.png' %}" alt="" width="25" height="25">
          <span class="nav_logo-name">Logística FEPCO</span>
        </a>
        <div class="nav_list">
          <a href="{% url 'logistica:dashboard' %}" class="nav_link">
            <i class="fa-solid fa-house nav_icon"></i>
            <span class="nav_name">Inicio</span>
          </a>
          <a href="{% url 'logistica:panel' %}" class="nav_link">
            <i class="fa-solid fa-table-list nav_icon"></i>
            <span class="nav_name">Solicitudes</span>
          </a>
        </div>
      </div>
      <a href="{% url 'users:logout' %}" class="nav_link">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="nav_name">Cerrar Sesión</span>
      </a>
    </nav>
  </div>

  <div class="wrapper container-fluid m-0" style="background-color: #f4f4f4">
    {% block content %}{% endblock content %}
  </div>

  <footer class="footer mt-auto d-flex flex-wrap justify-content-center align-items-center ms-5 py-2 my-4">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <span class="mb-md-0 text-muted">&copy; 2025 FEPCO</span>
    </div>
  </footer>

  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  {% block script %}
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleBtn = document.getElementById("header-toggle");
    const navBar = document.getElementById("nav-bar");

    toggleBtn.addEventListener("click", function () {
      navBar.classList.toggle("show");

      // Cambiar entre barras y equis
      if (toggleBtn.classList.contains("fa-bars")) {
        toggleBtn.classList.remove("fa-bars");
        toggleBtn.classList.add("fa-xmark");
      } else {
        toggleBtn.classList.remove("fa-xmark");
        toggleBtn.classList.add("fa-bars");
      }
    });
  });
</script>

  {% endblock script %}
  {% block grafico %}{% endblock grafico %}
</body>

</html>
