{% extends "_layout.html" %}
{% block Title %} Restablecer contraseña {% endblock Title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="card shadow">
                <div class="card-header text-center">Restablecer contraseña para {{ username }}</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password" class="form-label">Nueva contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Guardar nueva contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
